<div class={{this.styleNamespace}}>
  <MovieListHeader />

  <label>
    Sort by rating
    <select
      class='sort-select'
      onchange={{action 'loadMovies' value='target.value'}}
    >
      <option>Order...</option>
      <option>Ascending</option>
      <option>Descending</option>
    </select>
  </label>

  <MovieList @loadMovies={{this.loadMovies}} @movies={{this.movies}} />

  <AddMovieForm @loadMovies={{this.loadMovies}} />
</div>