<div class={{this.styleNamespace}}>
  <MovieListHeader />

  <label>
    Sort by rating
    <select class='sort-select' {{on 'change' (fn this.loadMovies true)}}>
      <option>Order...</option>
      <option>Ascending</option>
      <option>Descending</option>
    </select>
  </label>

  <MovieList @loadMovies={{this.loadMovies}} @movies={{this.movies}} />

  <AddMovieForm @loadMovies={{this.loadMovies}} />
</div>